<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker - Habits</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Your Habits</h1>
        <ul class="list-group">
            {{#each habits}}
                <li class="list-group-item">
                    <h5>{{this.name}}</h5>
                    <p>{{this.description}}</p>
                </li>
            {{/each}}
        </ul>
        <a href="/habits/add" class="btn btn-primary my-3">Add New Habit</a>
    </div>
</body>
</html>
